@import "Utils/Variables";

@import "main";
@import "general";
@import "Utils/mixins";

@import "asideNavbar";
@import "mainNavbar";
@import "Showcase";
@import "work";
@import "aboutMe";
@import "services";
@import "skills";
@import "testimonials";
@import "contactForm";
