#header {
  //background-color: orangered;
  height: calc(3vh + 3vw);
  z-index: 2;

  @media screen and (max-width: $breakpoint-middle) {
    position: absolute;

    .clicked {
      left: 73%;

      .line-1 {
        transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
      }

      .line-2 {
        opacity: 0;
      }

      .line-3 {
        transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
      }
    }

    &__main-nav {
      width: 30rem;
      height: 100%;
      position: fixed;
      top: 0;
      right: -30rem;
      background-color: $secondary-color;
      text-align: center;

      .header__main-nav--hamburger {
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 2rem;
        right: 5rem;
        cursor: pointer;
        border-radius: 50%;
        padding: 1rem;
        background-color: $secondary-color;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .line {
          width: 100%;
          height: 0.3rem;
          background-color: white;
          border-radius: 0.2rem;
          transition: all 0.4s ease-in-out;
        }
      }

      .header__main-nav--links {
        flex-direction: column;
        justify-content: center !important;
        align-items: flex-start;

        li {
          opacity: 0;
          margin-bottom: 4vh;
          margin-left: 6vw;
          transition: all 0.4s ease-in-out 0.2s;
        }

        .fade {
          opacity: 1;
        }
      }
    }
  }

  &__main-nav {
    height: 100%;

    .header__main-nav--links {
      background-color: $secondary-color;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      align-items: center;

      li {
        padding-right: 3vw;

        a {
          position: relative;
          padding: 0.2rem 0.6rem;
          font-size: calc(1rem + 0.66666667vw);

          &:link::before,
          &:visited::before,
          &:link::after,
          &:visited::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: .25rem;
            background-color: white;

            transform: scaleX(0);
            transition: all 0.6s cubic-bezier(1, 0, 0, 1);
          }

          &:link::before,
          &:visited::before {
            top: 0;

            transform-origin: left;
          }

          &:link::after,
          &:visited::after {
            bottom: 0;

            transform-origin: right;
          }

          &:hover::before,
          &:active::before,
          &:hover::after,
          &:active::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}