#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(1rem + 2vw);

  .skills {
    &__design,
    &__coding {
      padding: calc(1rem + 2vw);
      text-transform: uppercase;
      flex-basis: 40rem;
      flex-grow: 1;

      &--title {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      h4 {
        font-size: 2rem;
        color: white;
      }

      &--progress {
        position: relative;
        display: block;
        padding: 0.5rem;
        border-radius: 3rem;
        background-color: $primary-color;
        width: 100%;
        margin-bottom: 2rem;

        span {
          position: relative;
          background-color: $secondary-color;
          display: inline-block;
          vertical-align: middle;
          height: 2rem;
          width: 10rem;
          border-radius: 1rem 0 0 1rem;
        }
      }
    }

    &__design {
      &--progress {
        &__1 {
          @include skillPercent(webDesign, 50);
        }

        &__2 {
          @include skillPercent(printDesign, 90);
        }

        &__3 {
          @include skillPercent(logoDesign, 49);
        }

        &__4 {
          @include skillPercent(graphDesign, 77);
        }
      }
    }

    &__coding {
      &--progress {
        &__1 {
          @include skillPercent(htmlCss, 90);
        }

        &__2 {
          @include skillPercent(js, 99);
        }

        &__3 {
          @include skillPercent(python, 79);
        }

        &__4 {
          @include skillPercent(sql, 57);
        }
      }
    }

    @media screen and (max-width: 610px) {
      .skills {
        &__design, &__coding {

          h4 {
            font-size: calc(0.8rem + 1.5rem);
          }

          &--title {
            font-size: calc(1.2rem + 1.5vw);

          }
        }
      }
    }
  }
}