//@mixin keyframes($animationName) {
//  @-webkit-keyframes #{$animationName} {
//    @content;
//  }
//  @-moz-keyframes #{$animationName} {
//    @content;
//  }
//  @-o-keyframes #{$animationName} {
//    @content;
//  }
//  @keyframes #{$animationName} {
//    @content;
//  }
//}
//
//@mixin animate($name, $duration, $iteration, $direction) {
//  -webkit-animation-duration: $duration;
//  -moz-animation-duration: $duration;
//  -o-animation-duration: $duration;
//  animation-duration: $duration;
//  -webkit-animation-iteration-count: $iteration;
//  -moz-animation-iteration-count: $iteration;
//  -o-animation-iteration-count: $iteration;
//  animation-iteration-count: $iteration;
//  -webkit-animation-name: $name;
//  -moz-animation-name: $name;
//  -o-animation-name: $name;
//  animation-name: $name;
//  -webkit-animation-direction: $direction;
//  -moz-animation-direction: $direction;
//  -o-animation-direction: $direction;
//  animation-direction: $direction;
//}
//
//@include keyframes(ceroPercent) {
//  from {
//    width: 0;
//  }
//  to {
//    width: 50%;
//  }
//}
//
//@mixin ceroPercent {
//  @include animate(ceroPercent, 4s, infinite, cubic-bezier(1, 0, 0, 1));
//}
//
////@mixin tenPercent {
////
////}

@use "sass:math";

@mixin keyramesTest($name) {
  @keyframes #{$name} {
    @content;
  }
}

@keyframes skillPercentage {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@mixin skillPercent ($name, $value) {

  animation: $name 7s infinite cubic-bezier(1,0, 0, 1);

  @include keyramesTest($name) {
    from {
      width: 0;
    }
    to {
      width: math.div($value, 100) * 100%;
    }
  }
}
