$breakpoint-tablet: 768px;

//Colors
$primary-color: #03651a;

$secondary-color: #e36601;
$secondary-color-m: rgba(227, 102, 1, 0.75);

$tertiary-color: #0a4600;
$tertiary-color-m: rgba(10, 70, 0, 0.46);

